body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active {
  color: rgb(255, 95, 2);
  font-weight: 600;
  border-bottom: 3px solid rgb(255, 95, 2);
}
