.cart_box{
    border: solid red;
    width: 900px;
    
}

.threeImage{
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.quantityDiv{
    border: solid red;
    display: flex;
    height: 30px;
}
.subtractButton{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;   
    border: 0;
    border-radius: 5px;
}
.plusButton{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 0;
    border-radius: 5px;
}
.quntity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

